body{
	background-image: url("../img/bg.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
}

.main{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.secondary{
	background-color: #ececec;
	padding: 45px;
	border-radius:20px;
	box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
	min-width:500px;
	min-height:200px;
	opacity: 85%;
}

.button{
	display:flex;
	justify-content: center;
	align-items: center;
}