<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="HomeBase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Document</title>
</head>
<body>
	<section class="content">
		<div class="card m-3 password-container">
			<div class="card-body">
				<div th:if="${session.message}" class="container">
					<div class="alert text-center"
						th:classappend="${'alert-'+session.message.type}" role="alert">
						<span th:text=${session.message.content}></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<h2 class="text-center mb-5">Change Password</h2>
				<form th:action="@{/process-password}" method="post"
					th:object="${user}">
					<!--Old Password input -->
					<div class="form-outline mb-4">
						<input type="password" placeholder="Old Password"
							id="form3Example3" class="form-control" name="password" />
					</div>

					<!--New Password input -->
					<div class="form-outline mb-4">
						<input type="password" placeholder="New Password"
							id="form3Example4" class="form-control" name="newPassword" />
					</div>
					<!--Confirm Password input -->
					<div class="form-outline mb-4">
						<input type="password" placeholder="Confirm Password"
							id="form3Example4" class="form-control" name="rePassword" />

					</div>



					<!-- Submit button -->
					<div class="form-outline mb-4 button">
						<button type="submit" class="btn btn-primary btn-block mb-4">Confirm</button>
					</div>
				</form>
			</div>
		</div>
	</section>


</body>
</html>