<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::div})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Document</title>
</head>
<body>


	<div class="container main">

		<div class="sub-container secondary">

			<div th:if="${session.message}" class="container">
			<div class="alert text-center"
				th:classappend="${'alert-'+session.message.type}" role="alert">
				<span th:text=${session.message.content}></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
			<div class="container"></div>
			<h2 class="text-center mb-5">Login Page</h2>
			<form>
				<!-- Email input -->
				<div class="form-outline mb-4">
					<input type="email" placeholder="Email Address" id="form3Example3"
						class="form-control" name="email" />
				</div>

				<!-- Password input -->
				<div class="form-outline mb-4">
					<input type="password" placeholder="Password" id="form3Example4"
						class="form-control" name="password" />
				</div>



				<!-- Submit button -->
				<div class="form-outline mb-4 button">
					<button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
				</div>

				<!-- Register buttons -->
				<div class="text-center">
					<p>
						Don't Have An Account? <a th:href="@{/signup}">Sign Up</a>
					</p>

				</div>
			</form>
		</div>
	</div>
</body>
</html>